.table > thead > tr > th, .table > tbody > tr > td {
  vertical-align: middle;
}

table.table-bordered.dataTable {
  border-collapse: collapse;
}

table.table-bordered.dataTable thead th {
  border-width: 1px;
}

th {
  text-align: center;
}

td:first-child {
  text-align: center;
  width: 20px;
}
td:last-child { width: 195px; }
.col-sm-7 { width: 100%; }

div.dataTables_wrapper div.dataTables_paginate {
  text-align: center;
}

.tab-pane {
  padding: 20px 10px;
}

.nav-tabs {
  margin: 20px 0;
}