div.container {
  max-width: 1024px;
}

*,*:before,*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Helvetica, Arial;
}

h1 {
  text-align: center;
}

legend {
  color: #337ab7;
  margin-top: 30px;
}

ul.pager a {
  font-weight: bold;
}

.navbar {
  background: #2c97e7;
}

.navbar li:hover a {
  color: #ffffff;
  background: #0079bf;
}

.navbar a {
  color: #eeeeee;
  display: block;
  text-decoration: none;
}

.navbar ul li:hover ul {
  visibility: visible;
}

.navbar ul ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: auto;
  visibility: hidden;
}

.navbar ul ul li {
  font-size: 12px;
  width: 100px;
}

.navbar ul ul a {
  background: #0079bf;
  padding: 5px 10px;
}

.navbar li:hover li:hover a {
  background: #2c97e7;
}